        * {
            background-color: #005596;
            color: white;
        }
        
        #logo {
            height: auto;
            margin-right: auto;
            margin-left: auto;
            padding: 10px;
            text-align: center;
            margin-top: -15px;
            background-color: white;
        }