<div id="logo" class="imgfnlogo">
    <img src="assets/Logo2.jpg" title="facil news logo blue" alt="Logo Facil news" width="420px" height="250px">
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse navbar-expand" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink=""><b>NOTÍCIAS GERAIS</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="saude"><b>SAÚDE</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="esportes"><b>ESPORTES</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="ciencia"><b>CIÊNCIA</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="entretenimento"><b>ENTRETENIMENTO</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="negocios"><b>NEGÓCIOS</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="tecnologia"><b>TECNOLOGIA</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="santacatarina"><b>SANTA CATARINA</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="blumenau"><b>BLUMENAU E REGIÃO</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<footer class="mt-3">
    <div class="footer">
        <h2>
            Contato
        </h2>
        <div class="icons">
            <a href="https://www.instagram.com/facilnews" target="_blank"><img src="assets/instagram.png" id="insticon" title="www.instagram.com/facilnews"></a>
            <a href="mailto:mailto:facilnewsapp@gmail.com?Body=Ol%E1%2C%20tudo%20bem%3F" target="_blank"><img src="assets/gmail.png" id="emailicon" title="facilnewsapp@gmail.com"></a>
            <a href="https://api.whatsapp.com/send?phone=5547999515659&text=Ol%C3%A1!%20Quero%20conversar%20a%20respeito%20do%20F%C3%A1cil%20News!" target="_blank">
                <img src="assets/whatsapp.png" id="emailicon" title="(47)00000-0000"></a>
            <p>Rua Presidente Getúlio Vargas 110 - Centro - Blumenau/SC - CEP 89000-000<br>
        </div>
    </div>
</footer>