<div class="container-fluid mt-5">
    <h4 id="h4sports">Últimas notícias sobre <b>ESPORTES</b></h4>
    <div class="row">
        <div *ngFor="let d of sportsnewsDisplay" class="col-lg-4 mt-3 mb-3 card-group">
            <div class="box">
                <div class="box">
                    <img src="{{d.urlToImage}}" width="100%" class="card-img-top img-responsive">
                    <h5 class=" mt-2 mb-2 ">{{d.title}}</h5>
                    <div id="leia ">
                        <a [href]="d.url " target="_blank " class="btn ">Leia mais</a>
                        <div class="fb ">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:56832/ " target="_blank " id="fbicon ">
                                <img width="30 " height="30 " src="assets/facebook-logo.png " alt=" ">
                            </a>
                        </div>
                        <div class="whats ">
                            <a href="https://api.whatsapp.com/send?=texthttp://localhost:56832/ " target="_blank " id="wticon ">
                                <img width="30 " height="30 " src="assets/whatsapp-logo-icone.png " alt=" ">
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>