* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#logo {
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    text-align: center;
    margin-top: -15px;
    background-color: white;
}

.box {
    padding: 5px;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    object-fit: fill;
    border-color: #005596;
    border-style: solid;
}


/* .row-box {
    padding: 10px;
    background-color: rgb(248, 248, 248);
    border-radius: 3px;
    text-align: justify;
    font-size: 20px;
    border-style: solid;
    border-color: #005596;
    border-radius: 10px;
    object-fit: fill;
} */

h5 {
    font-size: 20px;
}

.icons {
    text-align: center;
}

#emailicon {
    background-color: white;
    padding: 5px;
    border-radius: 30px;
    margin-left: 10px;
}

#insticon {
    background-color: white;
    padding: 5px;
    border-radius: 30px;
}

h2 {
    text-align: center;
    font-weight: 500;
    font-weight: bolder;
}

.btn {
    background-color: #005596;
    color: white;
    font-weight: bold;
    position: relative;
    padding: 10px;
}

.fb,
.whats {
    float: right;
    padding: 10px
}

b {
    background-color: #005596;
    color: white;
    border-radius: 3px;
    padding: 10px;
}

#h4tech,
#h4science,
#h4business,
#h4general,
#h4sports,
#h4entertainment,
#h4health {
    text-align: center;
}